@import './scss/reset.scss';
@import './scss/layout.scss';
@import './scss/font.scss';
@import './scss/Navigation.scss';
@import './scss/Landing.scss';
@import './scss/UserProfile.scss';
@import './scss/ScanContainer.scss';
@import './scss/PillsContainer.scss';
@import './scss/Reminders.scss';
@import './scss/Diary.scss';
@import './scss/Calendar.scss';
@import './scss/SearchResults.scss';
