.diary {
  max-width: 800px;
  min-width: 460px;
  margin: 40px auto 20px auto;
}

.diaryBody {
  display: flex;
  justify-content: space-around;
}

.diaryMeds {
  width: 100%;
}

.diaryEntries {
  width: 100%;
}

.diaryEntriesHeader {
  display: flex;
  justify-content: space-between;
}

.diaryEntryButtons {
  display: flex;
  justify-content: space-between;
}
