.diary {
  border: 2px dashed red;
}

.diaryBody {
  border: 2px dashed red;
  display: flex;
}

.diaryMeds {
  border: 2px dashed red;
  display: flex;
}

.diaryEntries {
  border: 2px dashed red;
  display: flex;
}
