.diary {
  border: 2px dashed red;
}

.diaryBody {
  display: flex;
}

.diaryMeds {
  display: flex;
}

.diaryEntries {
  display: flex;
}

.diaryEntriesHeader {
  display: flex;
  justify-content: space-between;
}

.diaryEntryButtons {
  display: flex;
  justify-content: space-between;
}
