$primary: #2d90f5;
$secondary: #40ab47;
$navborder: #d6d8dd;
$pillborder: #ebecee;

.title {
  color: white;
  text-decoration: none;
}

.tab-navigator,
.scan-tabs {
  max-width: 1000px;
  display: flex;
  margin: 24px auto 22px auto;
  justify-content: center;
  align-items: center;

  .tab {
    border-right: 1px solid $navborder;
    border-top: 1px solid $navborder;
    border-bottom: 1px solid $navborder;
    width: 220px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    h5 {
      margin-left: 10px;
      font-weight: 300;
    }
    .icon {
      color: #494949;
    }
    .scanner {
      width: 29px;
      height: 29px;
    }
    .arrow {
      width: 28px;
      height: 28px;
    }
    .diary-icon {
      color: #494949;
      width: 24px;
      height: 24px;
    }
  }

  .tab.edge {
    border-left: 1px solid $navborder;
  }

  .active-tab {
    background-color: $primary;
    border: 1px solid $primary;
    h5 {
      color: white;
    }
    .icon,
    .diary-icon {
      color: white;
    }
  }
}

.pill-navigator {
  max-width: 1000px;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;

  .tab {
    width: 220px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  .tab.a {
    border: 1px solid $pillborder;
  }

  .tab.b {
    border-top: 1px solid $pillborder;
    border-right: 1px solid $pillborder;
    border-bottom: 1px solid $pillborder;
  }

  .active-tab.a,
  .active-tab.b {
    background-color: $secondary;
    border: 1px solid $secondary;
    h5 {
      color: white;
    }
  }
}
.scan-tabs {
  max-width: 1440px;
  margin-top: 30px;
  .tab {
    width: 290px;
    height: 80px;
    .icon {
      width: 40px;
      height: 40px;
    }
    .scanner {
      width: 40px;
      height: 40px;
    }
    .arrow {
      width: 40px;
      height: 40px;
    }
    .diary-icon {
      width: 36px;
      height: 36px;
    }
    h5 {
      font-size: 1.4rem;
    }
  }
}
