.scan-container {
  margin: 48px auto auto auto;
  max-width: 1262px;
  h2 {
    font-size: 2.2rem;
  }
  .option1-container {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    .image-container {
      width: 786px;
      h4 {
        width: 100%;
        text-align: center;
        background-color: #d6d8dd;
        padding: 7px 0;
      }
      .image-upload {
        display: flex;
        justify-content: space-evenly;
        margin-top: 16px;
        border: 1px solid #d6d8dd;
        border-radius: 6px;
        height: 320px;

        h5 {
          align-self: center;
        }

        .upload-button-container {
          width: 300px;
          border: 1px dashed #e9e9e9;
          height: 200px;
          margin-top: 30px;
          background-color: #f7f7f7;
          display: flex;
          flex-direction: column;
          align-items: center;
          svg {
            width: 200px;
            height: 50px;
            margin: 34px auto 0px auto;
            color: #093e73;
          }
          .upload-button {
            margin: 16px auto auto auto;
            height: 34px;
            width: 220px;
            color: white;
            background-color: #969696;
            text-transform: capitalize;
          }
          p {
            font-size: 0.8rem;
            text-align: center;
            margin-top: 18px;
          }
        }
        .identify-button {
          color: white;
          background-color: #969696;
          height: 42px;
          width: 150px;
          align-self: flex-end;
          position: relative;
          bottom: 28px;
          text-transform: capitalize;
        }
      }
    }
    .directions {
      width: 380px;
    }
  }
}
