.scan-container {
  margin: 48px auto auto auto;
  max-width: 1262px;
  h2 {
    font-size: 2.2rem;
  }
  .option1-container {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    .image-container {
      width: 786px;
      h4 {
        width: 100%;
        text-align: center;
        background-color: #d6d8dd;
        padding: 7px 0;
      }
      .image-upload {
        display: flex;
        justify-content: space-evenly;
        margin-top: 16px;
        border: 1px solid #d6d8dd;
        border-radius: 6px;
        height: 320px;

        h5 {
          align-self: center;
        }

        .upload-button-container {
          width: 300px;
          border: 1px dashed #e9e9e9;
          height: 200px;
          margin-top: 30px;
          background-color: #f7f7f7;
          display: flex;
          flex-direction: column;
          align-items: center;
          svg {
            width: 200px;
            height: 50px;
            margin: 34px auto 0px auto;
            color: #093e73;
          }
          .upload-button {
            margin: 16px auto auto auto;
            height: 34px;
            width: 220px;
            color: white;
            background-color: $secondary;
            text-transform: none;
          }
          p {
            font-size: 0.8rem;
            text-align: center;
            margin-top: 18px;
          }
        }
        .identify-button {
          color: white;
          background-color: $primary;
          height: 42px;
          width: 150px;
          align-self: flex-end;
          position: relative;
          bottom: 28px;
          text-transform: capitalize;
        }
      }
    }
    .directions {
      width: 380px;
    }
  }
  .option2-container {
    margin-top: 40px;
    display: flex;

    .identify-container {
      width: 786px;
      h4 {
        width: 100%;
        text-align: center;
        background-color: #d6d8dd;
        padding: 7px 0;
      }
      .search-container {
        margin-top: 16px;
        border: 1px solid #d6d8dd;
        border-radius: 6px;
        height: 461px;

        .form-container {
          margin: 12px 0px 0px 30px;
          .field-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            width: 578px;
            h5 {
              font-size: 1.2rem;
            }
            .field,
            .form-control {
              width: 452px;
            }
          }
          p {
            font-size: 0.6rem;
            text-align: left;
            position: relative;
            left: 127px;
            margin-bottom: 16px;
          }
          .button-container {
            display: flex;
            justify-content: space-between;
            width: 300px;
            margin: 0 auto;
            position: relative;
            top: 30px;
            left: 181px;

            .reset-button {
              color: white;
              background-color: #303030;
              text-transform: none;
              width: 120px;
              height: 42px;
            }
            .id-button {
              color: white;
              background-color: $primary;
              text-transform: capitalize;
              width: 150px;
              height: 42px;
            }
          }
        }
      }
    }
    .directions {
      width: 380px;
    }
  }
  .option3-container {
    width: 690px;
    height: 60px;
    border: 1px solid #d6d8dd;
    border-radius: 6px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .label {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f3f3f4;
      width: 372px;
      height: 58px;
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      border-right: 1px solid #eaebed;
    }
    button {
      width: 180px;
      height: 40px;
      margin-right: 22px;
      color: white;
      background-color: $secondary;
      text-transform: capitalize;
    }
  }
}
